
<ion-content [fullscreen]="true">
  <a href=""> <img src="../../assets/BUTONLAR/üst.jpg" alt=""> </a>


    <a href="yolyardim"> <img src="../../assets/BUTONLAR/yolyardim.jpg" alt=""> </a>
    <form #frm="ngForm">
      <ion-list class="mt-4 mb-2">
        <ion-header class="text-center h3">Yolyardım Kayit</ion-header>
      
    <ion-item>
         <ion-label position="floating">Firma Adı</ion-label>
         <ion-input type="text" name="isletmeAdi" #isletmeAdi [(ngModel)]="seckayit.isletmeAdi" required ></ion-input>     
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefon Numarası</ion-label>
      <ion-input type="text" name="telno" #telno [(ngModel)]="seckayit.telNo" required ></ion-input>      
 </ion-item>
 <ion-item>
  <ion-label position="floating">E Posta</ion-label>
  <ion-input type="email" name="email" #posta [(ngModel)]="seckayit.posta" required ></ion-input>   
</ion-item>
<ion-item>
  <ion-label position="floating">Parola</ion-label>
  <ion-input type="password" name="sifre" #sifre [(ngModel)]="seckayit.sifre" required ></ion-input>    
</ion-item>

  <ion-item>
    <ion-label position="floating" class="mb-3">İş Alanı</ion-label>
  <ion-select name="yardim" #yardim [(ngModel)]="seckayit.yardim" >
      <ion-select-option>Kurtarıcı Hizmeti</ion-select-option>
      <ion-select-option>Lastik Hizmeti</ion-select-option>
      <ion-select-option>Motor Hizmet</ion-select-option>
      <ion-select-option>Elektrik Tesisatı Hizmeti</ion-select-option>
      <ion-select-option>Akü Hizmeti</ion-select-option>
      <ion-select-option>Diğer Hizmetler</ion-select-option>
  </ion-select>  
</ion-item>


     <ion-item>
      <ion-label position="floating" class="mb-3">Şehir Seçiniz          
      </ion-label>
    <ion-select  name="konum" #konum [(ngModel)]="seckayit.konum" >
      <ion-select-option>Adana</ion-select-option>
      <ion-select-option>Adıyaman</ion-select-option>
      <ion-select-option>Afyonkarahisar</ion-select-option>
      <ion-select-option>Ağrı</ion-select-option>
      <ion-select-option>Amasya</ion-select-option>
      <ion-select-option>Ankara</ion-select-option>
      <ion-select-option>Antalya</ion-select-option>
      <ion-select-option>Artvin</ion-select-option>
      <ion-select-option>Aydın</ion-select-option>
      <ion-select-option>Balıkesir</ion-select-option>
      <ion-select-option>Bilecik</ion-select-option>
      <ion-select-option>Bingöl</ion-select-option>
      <ion-select-option>Bitlis</ion-select-option>
      <ion-select-option>Bolu</ion-select-option>
      <ion-select-option>Burdur</ion-select-option>
      <ion-select-option>Bursa</ion-select-option>
      <ion-select-option>Çanakkale</ion-select-option>
      <ion-select-option>Çankırı</ion-select-option>
      <ion-select-option>Çorum</ion-select-option>
      <ion-select-option>Denizli</ion-select-option>
      <ion-select-option>Diyarbakır</ion-select-option>
      <ion-select-option>Edirne</ion-select-option>
      <ion-select-option>Elazığ</ion-select-option>
      <ion-select-option>Erzincan</ion-select-option>
      <ion-select-option>Erzurum</ion-select-option>
      <ion-select-option>Eskişehir</ion-select-option>
      <ion-select-option>Gaziantep</ion-select-option>
      <ion-select-option>Giresun</ion-select-option>
      <ion-select-option>Gümüşhane</ion-select-option>
      <ion-select-option>Hakkâri</ion-select-option>
      <ion-select-option>Hatay</ion-select-option>
      <ion-select-option>Isparta</ion-select-option>
      <ion-select-option>Mersin</ion-select-option>
      <ion-select-option>İstanbul</ion-select-option>
      <ion-select-option>İzmir</ion-select-option>
      <ion-select-option>Kars</ion-select-option>
      <ion-select-option>Kastamonu</ion-select-option>
      <ion-select-option>Kayseri</ion-select-option>
      <ion-select-option>Kırklareli</ion-select-option>
      <ion-select-option>Kırşehir</ion-select-option>
      <ion-select-option>Kocaeli</ion-select-option>
      <ion-select-option>Konya</ion-select-option>
      <ion-select-option>Kütahya</ion-select-option>
      <ion-select-option>Malatya</ion-select-option>
      <ion-select-option>Manisa</ion-select-option>
      <ion-select-option>Kahramanmaraş</ion-select-option>
      <ion-select-option>Mardin</ion-select-option>
      <ion-select-option>Muğla</ion-select-option>
      <ion-select-option>Muş</ion-select-option>
      <ion-select-option>Nevşehir</ion-select-option>
      <ion-select-option>Niğde</ion-select-option>
      <ion-select-option>Ordu</ion-select-option>
      <ion-select-option>Rize</ion-select-option>
      <ion-select-option>Sakarya</ion-select-option>
      <ion-select-option>Samsun</ion-select-option>
      <ion-select-option>Siirt</ion-select-option>
      <ion-select-option>Sinop</ion-select-option>
      <ion-select-option>Sivas</ion-select-option>
      <ion-select-option>Tekirdağ</ion-select-option>
      <ion-select-option>Tokat</ion-select-option>
      <ion-select-option>Trabzon</ion-select-option>
      <ion-select-option>Tunceli</ion-select-option>
      <ion-select-option>Şanlıurfa</ion-select-option>
      <ion-select-option>Uşak</ion-select-option>
      <ion-select-option>Van</ion-select-option>
      <ion-select-option>Yozgat</ion-select-option>
      <ion-select-option>Zonguldak</ion-select-option>
      <ion-select-option>Aksaray</ion-select-option>
      <ion-select-option>Bayburt</ion-select-option>
      <ion-select-option>Karaman</ion-select-option>
      <ion-select-option>Kırıkkale</ion-select-option>
      <ion-select-option>Batman</ion-select-option>
      <ion-select-option>Şırnak</ion-select-option>
      <ion-select-option>Bartın</ion-select-option>
      <ion-select-option>Ardahan</ion-select-option>
      <ion-select-option>Iğdır</ion-select-option>
      <ion-select-option>Yalova</ion-select-option>
      <ion-select-option>Karabük</ion-select-option>
      <ion-select-option>Kilis</ion-select-option>
      <ion-select-option>Osmaniye</ion-select-option>
      <ion-select-option>Düzce</ion-select-option>
    </ion-select>  
 </ion-item>


</ion-list>

<ion-button name="btn" [disabled]="frm.invalid" fill="solid" expand="block"  color="dark" class="mt-3" (click)="this.KayitOl()">Kayıt Ol</ion-button>
<ion-item-divider [ngClass]="sonuc ? 'alert alert-success' : 'alert alert-danger'" *ngIf="sonuc">{{this.durum}}</ion-item-divider>  

<ion-item-divider  class="mt-2"><a href="yolyardimgiris">Hemen Giriş Yap</a></ion-item-divider>

</form>

</ion-content>
<!--===============================================================================================-->
