
  <ion-img [src]='"../../assets/BUTONLAR/üst.jpg"'></ion-img>


<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button [href]='"verilenler"'>
        <ion-icon name="eye-outline"></ion-icon>
        <ion-label style="margin-bottom:5px;">Verilen İşler</ion-label>
       <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button [href]='"ilanislem"'>
        <ion-icon name="git-compare-outline"></ion-icon>
        <ion-label style="margin-bottom:5px;">İlan Sil/Güncelle</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  [href]='"ilanpaylas"' class="table-danger">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label style="margin-bottom:5px;">İlan Paylaş</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [href]='"ayarlar"'>
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label style="margin-bottom:5px;">Diğer İşlemler</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs><br><br>
<form #frm="ngForm">
  <ion-list class="mt-4 mb-2">
    <ion-header class="text-center h6"><strong> İLAN PAYLAŞIM EKRANI</strong></ion-header>
    <ion-item>
      <ion-label position="floating">Yük Cinsi</ion-label>
      <ion-input type="text" name="yukCins" [(ngModel)]="seckayit.yukCins" required></ion-input>     
    </ion-item>
    <ion-item>
      <ion-label position="floating">Yük Ağırlığı</ion-label>
      <ion-input type="text"  name="agirlik" [(ngModel)]="seckayit.yukAgirlik"  required></ion-input>     
    </ion-item>
 
  <ion-item>
   <ion-label position="floating" class="mb-3">Yükleme Noktası          
   </ion-label>
 <ion-select  name="konum" [(ngModel)]="seckayit.yuklemeNoktasi"  >
     <ion-select-option>Adana</ion-select-option>
      <ion-select-option>Adana</ion-select-option>
      <ion-select-option>Adıyaman</ion-select-option>
      <ion-select-option>Afyonkarahisar</ion-select-option>
      <ion-select-option>Ağrı</ion-select-option>
      <ion-select-option>Amasya</ion-select-option>
      <ion-select-option>Ankara</ion-select-option>
      <ion-select-option>Antalya</ion-select-option>
      <ion-select-option>Artvin</ion-select-option>
      <ion-select-option>Aydın</ion-select-option>
      <ion-select-option>Balıkesir</ion-select-option>
      <ion-select-option>Bilecik</ion-select-option>
      <ion-select-option>Bingöl</ion-select-option>
      <ion-select-option>Bitlis</ion-select-option>
      <ion-select-option>Bolu</ion-select-option>
      <ion-select-option>Burdur</ion-select-option>
      <ion-select-option>Bursa</ion-select-option>
      <ion-select-option>Çanakkale</ion-select-option>
      <ion-select-option>Çankırı</ion-select-option>
      <ion-select-option>Çorum</ion-select-option>
      <ion-select-option>Denizli</ion-select-option>
      <ion-select-option>Diyarbakır</ion-select-option>
      <ion-select-option>Edirne</ion-select-option>
      <ion-select-option>Elazığ</ion-select-option>
      <ion-select-option>Erzincan</ion-select-option>
      <ion-select-option>Erzurum</ion-select-option>
      <ion-select-option>Eskişehir</ion-select-option>
      <ion-select-option>Gaziantep</ion-select-option>
      <ion-select-option>Giresun</ion-select-option>
      <ion-select-option>Gümüşhane</ion-select-option>
      <ion-select-option>Hakkâri</ion-select-option>
      <ion-select-option>Hatay</ion-select-option>
      <ion-select-option>Isparta</ion-select-option>
      <ion-select-option>Mersin</ion-select-option>
      <ion-select-option>İstanbul</ion-select-option>
      <ion-select-option>İzmir</ion-select-option>
      <ion-select-option>Kars</ion-select-option>
      <ion-select-option>Kastamonu</ion-select-option>
      <ion-select-option>Kayseri</ion-select-option>
      <ion-select-option>Kırklareli</ion-select-option>
      <ion-select-option>Kırşehir</ion-select-option>
      <ion-select-option>Kocaeli</ion-select-option>
      <ion-select-option>Konya</ion-select-option>
      <ion-select-option>Kütahya</ion-select-option>
      <ion-select-option>Malatya</ion-select-option>
      <ion-select-option>Manisa</ion-select-option>
      <ion-select-option>Kahramanmaraş</ion-select-option>
      <ion-select-option>Mardin</ion-select-option>
      <ion-select-option>Muğla</ion-select-option>
      <ion-select-option>Muş</ion-select-option>
      <ion-select-option>Nevşehir</ion-select-option>
      <ion-select-option>Niğde</ion-select-option>
      <ion-select-option>Ordu</ion-select-option>
      <ion-select-option>Rize</ion-select-option>
      <ion-select-option>Sakarya</ion-select-option>
      <ion-select-option>Samsun</ion-select-option>
      <ion-select-option>Siirt</ion-select-option>
      <ion-select-option>Sinop</ion-select-option>
      <ion-select-option>Sivas</ion-select-option>
      <ion-select-option>Tekirdağ</ion-select-option>
      <ion-select-option>Tokat</ion-select-option>
      <ion-select-option>Trabzon</ion-select-option>
      <ion-select-option>Tunceli</ion-select-option>
      <ion-select-option>Şanlıurfa</ion-select-option>
      <ion-select-option>Uşak</ion-select-option>
      <ion-select-option>Van</ion-select-option>
      <ion-select-option>Yozgat</ion-select-option>
      <ion-select-option>Zonguldak</ion-select-option>
      <ion-select-option>Aksaray</ion-select-option>
      <ion-select-option>Bayburt</ion-select-option>
      <ion-select-option>Karaman</ion-select-option>
      <ion-select-option>Kırıkkale</ion-select-option>
      <ion-select-option>Batman</ion-select-option>
      <ion-select-option>Şırnak</ion-select-option>
      <ion-select-option>Bartın</ion-select-option>
      <ion-select-option>Ardahan</ion-select-option>
      <ion-select-option>Iğdır</ion-select-option>
      <ion-select-option>Yalova</ion-select-option>
      <ion-select-option>Karabük</ion-select-option>
      <ion-select-option>Kilis</ion-select-option>
      <ion-select-option>Osmaniye</ion-select-option>
      <ion-select-option>Düzce</ion-select-option>
 </ion-select>  
</ion-item>
<ion-item>
 <ion-label position="floating" class="mb-3">İndirme Noktası          
 </ion-label>
<ion-select  name="konum" [(ngModel)]="seckayit.indirmeNoktasi" >
  <ion-select-option>Adana</ion-select-option>
  <ion-select-option>Adıyaman</ion-select-option>
  <ion-select-option>Afyonkarahisar</ion-select-option>
  <ion-select-option>Ağrı</ion-select-option>
  <ion-select-option>Amasya</ion-select-option>
  <ion-select-option>Ankara</ion-select-option>
  <ion-select-option>Antalya</ion-select-option>
  <ion-select-option>Artvin</ion-select-option>
  <ion-select-option>Aydın</ion-select-option>
  <ion-select-option>Balıkesir</ion-select-option>
  <ion-select-option>Bilecik</ion-select-option>
  <ion-select-option>Bingöl</ion-select-option>
  <ion-select-option>Bitlis</ion-select-option>
  <ion-select-option>Bolu</ion-select-option>
  <ion-select-option>Burdur</ion-select-option>
  <ion-select-option>Bursa</ion-select-option>
  <ion-select-option>Çanakkale</ion-select-option>
  <ion-select-option>Çankırı</ion-select-option>
  <ion-select-option>Çorum</ion-select-option>
  <ion-select-option>Denizli</ion-select-option>
  <ion-select-option>Diyarbakır</ion-select-option>
  <ion-select-option>Edirne</ion-select-option>
  <ion-select-option>Elazığ</ion-select-option>
  <ion-select-option>Erzincan</ion-select-option>
  <ion-select-option>Erzurum</ion-select-option>
  <ion-select-option>Eskişehir</ion-select-option>
  <ion-select-option>Gaziantep</ion-select-option>
  <ion-select-option>Giresun</ion-select-option>
  <ion-select-option>Gümüşhane</ion-select-option>
  <ion-select-option>Hakkâri</ion-select-option>
  <ion-select-option>Hatay</ion-select-option>
  <ion-select-option>Isparta</ion-select-option>
  <ion-select-option>Mersin</ion-select-option>
  <ion-select-option>İstanbul</ion-select-option>
  <ion-select-option>İzmir</ion-select-option>
  <ion-select-option>Kars</ion-select-option>
  <ion-select-option>Kastamonu</ion-select-option>
  <ion-select-option>Kayseri</ion-select-option>
  <ion-select-option>Kırklareli</ion-select-option>
  <ion-select-option>Kırşehir</ion-select-option>
  <ion-select-option>Kocaeli</ion-select-option>
  <ion-select-option>Konya</ion-select-option>
  <ion-select-option>Kütahya</ion-select-option>
  <ion-select-option>Malatya</ion-select-option>
  <ion-select-option>Manisa</ion-select-option>
  <ion-select-option>Kahramanmaraş</ion-select-option>
  <ion-select-option>Mardin</ion-select-option>
  <ion-select-option>Muğla</ion-select-option>
  <ion-select-option>Muş</ion-select-option>
  <ion-select-option>Nevşehir</ion-select-option>
  <ion-select-option>Niğde</ion-select-option>
  <ion-select-option>Ordu</ion-select-option>
  <ion-select-option>Rize</ion-select-option>
  <ion-select-option>Sakarya</ion-select-option>
  <ion-select-option>Samsun</ion-select-option>
  <ion-select-option>Siirt</ion-select-option>
  <ion-select-option>Sinop</ion-select-option>
  <ion-select-option>Sivas</ion-select-option>
  <ion-select-option>Tekirdağ</ion-select-option>
  <ion-select-option>Tokat</ion-select-option>
  <ion-select-option>Trabzon</ion-select-option>
  <ion-select-option>Tunceli</ion-select-option>
  <ion-select-option>Şanlıurfa</ion-select-option>
  <ion-select-option>Uşak</ion-select-option>
  <ion-select-option>Van</ion-select-option>
  <ion-select-option>Yozgat</ion-select-option>
  <ion-select-option>Zonguldak</ion-select-option>
  <ion-select-option>Aksaray</ion-select-option>
  <ion-select-option>Bayburt</ion-select-option>
  <ion-select-option>Karaman</ion-select-option>
  <ion-select-option>Kırıkkale</ion-select-option>
  <ion-select-option>Batman</ion-select-option>
  <ion-select-option>Şırnak</ion-select-option>
  <ion-select-option>Bartın</ion-select-option>
  <ion-select-option>Ardahan</ion-select-option>
  <ion-select-option>Iğdır</ion-select-option>
  <ion-select-option>Yalova</ion-select-option>
  <ion-select-option>Karabük</ion-select-option>
  <ion-select-option>Kilis</ion-select-option>
  <ion-select-option>Osmaniye</ion-select-option>
  <ion-select-option>Düzce</ion-select-option>
</ion-select>  
</ion-item>
    <ion-item>
      <ion-label position="floating">Nakliye Ücreti</ion-label>
      <ion-input type="text"  name="ucret" [(ngModel)]="seckayit.ucret" required ></ion-input>     
    </ion-item>

  <ion-item>
   <ion-label position="floating" class="mb-3">Gerekli Araç Türü         
   </ion-label>
 <ion-select  name="konum" [(ngModel)]="seckayit.aracTur"  >
  <ion-select-option>Tenteli Tır</ion-select-option>
  <ion-select-option>Treylerli Tır</ion-select-option>
  <ion-select-option>Normal Açık Tır</ion-select-option>
  <ion-select-option>Damperli Tır</ion-select-option>
  <ion-select-option>Lowbed Tır</ion-select-option>
  <ion-select-option>Kırkayak</ion-select-option>
  <ion-select-option>Kamyon</ion-select-option>
  <ion-select-option>Kamyonet</ion-select-option>

 </ion-select>  
</ion-item>
</ion-list>
<ion-card *ngFor="let item of kayitlar">
<ion-button name="btn" [disabled]="frm.invalid" fill="solid" expand="block"  color="dark" class="mt-3"  (click)="
this.seckayit.firmaid=item.uid;
this.seckayit.telNo=item.telNo;
this.seckayit.isletmeAdi=item.isletmeAdi;
Kaydet()">Paylaş</ion-button>
</ion-card>
<ion-card *ngIf="this.sonuc" class="alert alert-success mt-4">İlan Paylaşıldı</ion-card>
</form>
</ion-content>
